* {
	margin: 0;
	padding: 0;
}

.yx {
	width: 100%;
	height: 176px;
	position: relative;
}

.yx-site {
	position: relative;
	height: 36px;
	line-height: 36px;
	background: #333;
}

.yx-row {
	width: 1090px;
	height: 36px;
	margin: 0 auto;
}

.yx-siteNav {
	width: 246px;
	height: 36px;
	float: left;
	background: url(../image/1.gif) center left no-repeat;
}

ul {
	list-style: none;
}

.ul1 li {
	padding-left: 26px;
	height: 36px;
	color: #cc9756;
	font-size: 12px;
}

.ul1 li a {
	color: #cc9756;
}

.ul1 li a:hover {
	color: #fff;
	text-decoration: none;
}

.yx-siteNav-r {
	width: 471px;
	height: 36px;
	float: right;
}

.ul2 {
	display: flex;
	justify-content: space-around;
}

.ul2 li {
	float: left;
	font-size: 12px;
	height: 36px;
	line-height: 36px;
	cursor: pointer;
	color: #ccc;
	position: relative;
}

.ul2 li:hover {
	color: #fff;
}

.ul2 li::before {
	position: absolute;
	top: 10px;
	left: -14px;
	content: '';
	display: inline-block;
	height: 16px;
	border-left: 1px solid #5c5c5c;
	vertical-align: middle;
}

.ul2 li:nth-child(1)::before {
	border: none;
}

.yx-fun {
	width: 100%;
	height: 140px;
	position: relative;
	background: #fff;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
}

.yx-cp-row {
	width: 1090px;
	margin: 0 auto;
	height: 140px;
}

.yx-cp-carEnter {
	width: 134px;
	height: 36px;
	border: 1px solid #cc9756;
	border-radius: 19px;
	padding: 8px 0;
	position: relative;
	margin-top: 26px;
	margin-left: 49px;
	float: right;
	z-index: 4;
	text-align: center;
	color: #cc9756;
	font-size: 14px;
}

.yx-cp-carEnter:hover {
	background-color: #F5F3EF;
}

.yx-cp-search {
	position: relative;
	margin-top: 26px;
	float: right;
	width: 532px;
	height: 36px;
}

.yx-cp-searchInput1 {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: block;
	height: 38px;
	line-height: 38px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px solid #CC9756;
	border-bottom-left-radius: 19px;
	border-top-left-radius: 19px;
	font-size: 14px;
	width: 442px;
	padding-left: 38px;
	outline: 0;
	overflow: hidden;
	background: 0 0;
}

.yx-cp-searchInput i {
	background: url(../img/1.png);
	background-position: 0 -518px;
	height: 14px;
	width: 14px;
	position: absolute;
	left: 18px;
	top: 12px;
}

.search {
	position: absolute;
	top: 12px;
	left: 38px;
	color: #999;
	line-height: 1;
	cursor: text;
	white-space: nowrap;
	overflow: hidden;
	width: 390px;
	text-overflow: ellipsis;
	font-size: 14px;
}

.yx-cp-button {
	width: 90px;
	height: 38px;
	background-color: #CC9756;
	border-top-right-radius: 19px;
	border-bottom-right-radius: 19px;
	cursor: pointer;
	float: right;
	color: #fff;
	line-height: 38px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1px
}

.yx-cp-button:hover {
	background-color: #E2C199
}

.hotKey {
	margin-top: 46px;
	margin-left: 8px;
	width: 444px;
	height: 18px;
	overflow: hidden;
}

.hotList {
	position: relative;
	width: 444px;
	height: 108px;
	animation: xy 4s linear 0s infinite normal;
}

@keyframes xy {
	0% {
		transform: translateY(0)
	}
	100% {
		transform: translateY(-70px);
	}
}

.hotKeyword {
	height: 18px;
	line-height: 18px;
	margin-bottom: 18px;
}

.hotKeyword p {
	color: #999;
	padding: 0 10px;
	cursor: pointer;
	line-height: 12px;
	text-overflow: ellipsis;
	/* overflow: hidden; */
	white-space: nowrap;
	max-width: 444px;
	font-size: 12px;
	float: left;
	position: relative;
}

.hotKeyword p:nth-child(2) {
	color: #cc9756;
}

.hotKeyword p::after {
	position: absolute;
	top: -2px;
	left: -3px;
	content: '';
	display: inline-block;
	height: 16px;
	border-left: 1px solid #5c5c5c;
	vertical-align: middle;
}

.ul3 {
	width: 1090px;
	height: 30px;
	position: absolute;
	bottom: -17px;
	font-weight: 700;
	display: flex;
	justify-content: space-around;
}

.ul3 li a {
	font-size: 14px;
	text-decoration: none;
	color: #333;
}

.ul3 li:hover .dropdowm {
	display: block;
}

.ul3 li a:hover {
	color: #CC9756;
	border-bottom: 3px solid #CC9756;
}

.a1 {
	color: #CC9756 !important;
	border-bottom: 3px solid #CC9756;
}

.logo {
	width: 212px;
	height: 60px;
	float: left;
}

.item img {
	display: block;
	width: 100%;
	height: 420px !important;
}

.dropdowm {
	/* width: 1202px; */
	/* height: 405px; */
	position: absolute;
	left: -56px;
	top: 23px;
	background-color: transparent;
	z-index: 4;
	display: none;
	transition: all .3s;
}

.cate {
	display: inline-block;
	padding: 14px 15px 20px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, .1);
	list-style: none;
}

.cateGroup {
	width: 124px;
	float: left;
	margin-right: 15px;
}

.group-name {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 700;
	line-height: 36px;
	border-bottom: 1px solid #ddd;
}

.colum {
	width: 124px;
	float: left;
}

.box2:after {
	content: '';
	clear: both;
}

.cateItem {
	margin-bottom: 4px;
	font-weight: 400;
	line-height: 50px;
}

.cateItem img {
	display: block;
	width: 50px;
	height: 50px;
	float: left;
}

.cateItem span {
	display: inline-block;
	width: 70px;
	max-width: 70px;
	max-height: 48px;
	margin-left: 4px;
	font-size: 14px;
	vertical-align: middle;
	line-height: 1.2;
	overflow: hidden;
	word-wrap: break-word;
}